.PostComonent {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--Black);
    margin: 10px 0;
}

.PostComonent input {
    border: none;
    width: 100%;
    padding: 0 10px;
    background: var(--Black);

}
.PostComonent img {
    width: 26px;
}
.PostComonent svg {
    color: var(--Primary);
    font-size: 26px;
    cursor: pointer;
}
.PostComonent svg:hover {
    color: var(--White);
}