.FeaturesHome{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 1100px;
    margin: 20px auto;
    flex-wrap: wrap;
}

@media(max-width: 1150px) {
    .FeaturesHome{
        width: 100%;
        flex-wrap: wrap;
    }
}