.ListMessages {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 20px;
}

.ListMessages::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  .ListMessages::-webkit-scrollbar-track {
    background: var(--BorderHover);        /* color of the tracking area */
  }
  
  .ListMessages::-webkit-scrollbar-thumb {
    background-color: var(--Border);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--BorderHover);  /* creates padding around scroll thumb */
  }

.ListMessages .buttonsSearching {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
}
.ListMessages .buttonsSearching a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    background: var(--Black2);
    padding: 2px;
    color: var(--Primary);
    border: none;
    border-bottom: 1px solid var(--Black);
    text-decoration: none;
}

.ListMessages .buttonsSearching a:hover {
    border: none;
    border-bottom: 1px solid var(--Primary);
}
.ListMessages .search {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: var(--Black);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
}
.ListMessages .search svg {
    color: var(--Primary);
    font-size: 20px;
}
.ListMessages .search input {
    border: none;
    width: 100%;
    padding: 0 10px;
    background: var(--Black);

}

.ListMessages .asideTrending {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    background: var(--Black);
    padding: 7px;
    margin: 5px 0;
}

.ListMessages .asideTrending h5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--White);
    font-weight: 600;
    border-bottom: 1px solid var(--Gray);
    padding: 5px;
    margin-bottom: 5px;
}
.ListMessages .topics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    color: var(--White);
}

.ListMessages .topics .topicUnic {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    margin: 3px 0;
}
.ListMessages .topics .topicUnic .textsTopics {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.ListMessages .topics .topicUnic  .textsTopics h4 {
    color: var(--White);
}
.ListMessages .topics .topicUnic  .textsTopics h5 {
    color: var(--White);
    font-weight: 600;
    padding: 0px;
    border: none;
    margin: 3px 0;
}
.ListMessages .topics .topicUnic  .textsTopics h6 {
    color: var(--Gray);
}

.ListMessages .topics .topicUnic svg {
    color: var(--Gray);
    font-size: 12px;
}


.ListMessages .events {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    color: var(--White);
}
.ListMessages .events .eventUnic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    color: var(--White);
}

 .ListMessages .events .eventUnic h6 {
    margin:5px;
    font-weight: 500;
    padding: 0px;
    border: none;
    color: var(--Gray);
    font-weight: 600;
}

.ListMessages .events .eventUnic a {
    text-decoration: none;
    color: var(--White);
    font-size: 10px;
    padding: 5px 20px;
    border: 1px solid var(--White);
    border-radius: 20px;
    margin:5px;
    font-weight: 600;
}


.ListMessages .usersList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    color: var(--White);
}

.ListMessages .usersList .userUnic {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    color: var(--White);
    margin: 5px 0;
}

.ListMessages .usersList .userUnic button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid var(--Primary);
    background: var(--Black);
    color: var(--Primary);
    padding: 5px;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 10px;
    font-weight: 500;
}

.ListMessages .usersList .userUnic .blockUser  {
    background: var(--Black2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--White);
    width: 100%;
    border-radius: 6px;
    padding: 5px;
}
.ListMessages .usersList .userUnic .blockUser img {
    border-radius: 50%;
    width: 30px;
    margin: 3px;
}


.ListMessages .usersList .userUnic .blockUser svg{
    margin: 0px;
    color: var(--Primary);
}
.ListMessages .usersList .userUnic .blockUser .username {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.ListMessages .usersList .userUnic .blockUser .username h5 {
    margin: 0px 3px;
    font-weight: 500;
    padding: 0px;
    border: none;
}

.ListMessages .usersList .userUnic .blockUser .username h6 {
    margin: 0px 3px;
    color: var(--White);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.ListMessages .usersList .userUnic .blockUser .username h6 svg {
    margin-left: 5px;
}

.ListMessages .usersList .userUnic .blockUser .username span {
    margin: 0px 3px;
    color: var(--Gray);
    font-size: 10px;
}

@media (max-width: 900px) {
    .ListMessages {
        display: none;
    }
}
