.ProfileComponent {
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.ProfileComponent .imageName {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--White);
}
.ProfileComponent .imageName img {
    border-radius: 50%;
    width: 40px;
    margin: 3px;
}
.ProfileComponent .imageName button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--Primary);
    background: var(--Black);
    color: var(--Primary);
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}
.ProfileComponent .imageName .btn2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--Delete);
    background: var(--Delete);
    color: var(--White);
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}



.ProfileComponent .imageName svg{
    margin: 3px 3px 4px 0px;
    color: var(--Primary);
}
.ProfileComponent .imageName .username {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.ProfileComponent .imageName .username h5 {
    margin: 0px 5px;
    font-weight: 500;
}

.ProfileComponent .imageName .username h6 {
    margin: 0px 6px;
    color: var(--Gray);
}
.ProfileComponent .info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: var(--White);
}

.ProfileComponent .info svg{
    margin: 3px 5px;
    color: var(--Gray);
}
.ProfileComponent .info h6 {
    margin: 3px 3px 3px 3px;
    color: var(--Gray);
    font-weight: 600;
}