.Cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.Cart h3 {
    text-align: center;
    margin: 40px 20px;
    color: var(--Primary);
    font-weight: 600;
}

.Cart .resumeCart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 1100px;
    margin: 20px 0;
}

.Cart .resumeCart .ListProducts  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.Cart .resumeCart .ListProducts  .TitleList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

.Cart .resumeCart .ListProducts  .TitleList .itensTitleOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40%;
}

.Cart .resumeCart .ListProducts  .TitleList .itensTitleOne h4 {
    font-weight: 700;
    color: var(--Paragraph);
}


.Cart .resumeCart .ListProducts  .TitleList .itensTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15%;
    margin: 5px;
}

.Cart .resumeCart .ListProducts  .TitleList .itensTitle h4 {
    font-weight: 700;
    color: var(--Paragraph);
}

.Cart .resumeCart .ListProducts  .ItensCartList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.Cart .resumeCart .ListProducts  .ItensCartList .ItensCartListOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40%;
    margin: 5px;
}
.Cart .resumeCart .ListProducts  .ItensCartList .ItensCartListUnic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15%;
    margin: 5px;
}
.Cart .resumeCart .ListProducts  .ItensCartList .ItensCartListOne img {
    width: 50px;
    margin: 5px;
}
.Cart .resumeCart .ListProducts  .ItensCartList .ItensCartListUnic h5 {
    font-weight: 460;
    color: var(--Paragraph);
    margin: 5px;
}

.Cart .resumeCart .ListProducts  .ItensCartList .ItensCartListUnic button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    margin: 5px;
}
.Cart .resumeCart .buttonsCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    padding: 30px;
}

.Cart .resumeCart .buttonsCart .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: var(--White);
    color: var(--Paragraph);
    border: 1px solid var(--Paragraph);
}
.Cart .resumeCart .buttonsCart .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: var(--Aproved);
    color: var(--White);
    border: none;
}


@media (max-width: 1120px) {
.Cart .resumeCart {
    width: 100%;
}

}

