.CustomerSupport {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 1100px;
    margin: 20px auto;
}

.CustomerSupport h3 {
    font-weight: 700;
    color: var(--Primary);
}
.CustomerSupport .CustomerSupportList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    flex-wrap: wrap;
}
.CustomerSupport .CustomerSupportList .inforSupport{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:300px;
    margin: 10px;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 1120px) {
    .CustomerSupport {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}