.Explorer {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.Explorer .aside {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.Explorer .aside .asideExplorer {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: var(--Black2);
    border: none;
    flex-wrap: wrap;
    overflow: auto;
    border-left: 1px solid var(--Paragraph);
    margin-bottom: 20px;
}

.Explorer .aside .asideExplorer::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  .Explorer .aside .asideExplorer::-webkit-scrollbar-track {
    background: var(--BorderHover);        /* color of the tracking area */
  }
  
  .Explorer .aside .asideExplorer::-webkit-scrollbar-thumb {
    background-color: var(--Border);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--BorderHover);  /* creates padding around scroll thumb */
  }

  .Explorer .aside .asideExplorer .searchExplorer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--Black);
    color: var(--White);
    border-radius: 10px;
    margin-bottom: 10px; 
    padding: 0 10px;
  }

  .Explorer .aside .asideExplorer .searchExplorer input {
    background: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    width: 90%;
  }
  .Explorer .aside .asideExplorer .searchExplorer svg {
    font-size: 20px;
  }

  .Explorer .aside .asideExplorer .blockExplorer {
    aspect-ratio : 1 / 1;
    width: 31%;
    margin: 5px;
    object-fit: cover;
    border-radius: 6px;
  }

  .Explorer .aside .asideExplorer .blockExplorer img {
    aspect-ratio : 1 / 1;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .Explorer .aside .asideExplorer .blockExplorer video {
    aspect-ratio : 1 / 1;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
  }



@media (max-width: 1220px) {
    .Explorer .aside {
        width: 100%;
    }

    @media (max-width: 900px) {

      .Explorer {
        padding-top: 60px;
    }


        .Explorer .aside .asideExplorer {
            width:70%;
        }


        

    @media (max-width: 695px) {
        .Explorer .aside .asideExplorer {
            width: 95%;
            border: none;
        }

        .Explorer .aside .asideExplorer .blockExplorer {
          aspect-ratio : 1 / 1;
          width: 31%;
          margin: 3px;
          object-fit: cover;
          border-radius: 3px;
        }

        .Explorer .aside .asideExplorer .searchExplorer {
          width: 98%;
          margin: 10px 0;
        }
      
      

}
}
}

