.Profiles {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.Profiles .aside {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 1220px) {
    .Profiles .aside {
        width: 100%;
    }

    @media (max-width: 900px) {
        .Profiles {
            padding-top: 60px;
        }
    }
}

