.ComingSoon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    min-height: 100vh;
    background-image: url("../../assets/images/player10.jpg"); 
    background-color: #000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.ComingSoon .sections {


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.ComingSoon .sections .sectionComingSoon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    height: 90%;

}

.ComingSoon .sections .sectionComingSoon img {
    height:60px;
    margin: 20px 5px;
}


.ComingSoon .sections .sectionComingSoon .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    padding: 30px;
}



.ComingSoon .sections .sectionComingSoon p {
    font-weight: 700;
    text-align: center;
    color: var(--White);
    margin: 40px 0;
}
 

.ComingSoon .sections .sectionComingSoon .form h2 {
    font-weight: 700;
    text-align: center;
    color: var(--Primary);
    margin: 10px;
}
.ComingSoon .sections .sectionComingSoon .form h3 {
    font-weight: 700;
    text-align: center;
    color: var(--White);
    margin: 10px;
}
.ComingSoon .sections .sectionComingSoon .form .linkComingSoon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width:100%;
    margin: 5px;
}

.ComingSoon .sections .sectionComingSoon .form .linkComingSoon a {
    text-decoration: none;
    color: var(--Primary);
    font-size: 14px;
}
.ComingSoon .sections .sectionComingSoon .form .linkComingSoon a:hover {
    text-decoration: none;
    color: var(--PrimaryDisabled);
    font-size: 14px;
}

.ComingSoon .sections .sectionComingSoon .form input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px;
}
.ComingSoon .sections .sectionComingSoon .form button {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--White);
    background-color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 20px 5px 5px 5px;
}
.ComingSoon .sections .sectionComingSoon .form .Link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--White);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ComingSoon .sections .sectionComingSoon .form .passwords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
}
.ComingSoon .sections .sectionComingSoon .form .passwords .pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.ComingSoon .sections .sectionComingSoon .form .passwords .pass input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}

.ComingSoon .sections .sectionComingSoon .form .passwords .pass button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 6px;
    width: 50px;
    color: var(--Primary);
    background-color: var(--White);
    border: 1px solid var(--Primary);
    margin: 5px 0 5px 5px;
    height: 41px;
    font-size: 18px;
}

.ComingSoon .sections .imageComingSoon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-image: url("../../assets/images/mulher.jpg"); 
    background-color: #000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

@media(max-width: 925px) {
    .ComingSoon .sections .imageComingSoon  {
        display: none;
    }
    .ComingSoon .sections .sectionComingSoon  {
        width: 95%;
    }
    @media(max-width: 520px) {
        .ComingSoon .sections .sectionComingSoon .form {
            width: 100%;
            padding: 20px;
        }
    }
}


