button {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

button svg {
    color: var(--Primary);
    font-size: 26px;
    cursor: pointer;
    margin: 0 10px 0 0;
}