.PostItem {
    width: 99%;
    border-bottom: 1px solid var(--Paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0px 0px 5px 0;
}
.PostItem .post {
    width: 91%;
    padding:10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--Black);
    margin:10px 0;
}
.PostItem .post .user {
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.PostItem .post .user .imageName {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--White);
}
.PostItem .post .user .imageName img {
    border-radius: 50%;
    width: 40px;
    margin: 3px;
}
.PostItem .post .user .imageName button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--Primary);
    background: var(--Black);
    color: var(--Primary);
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}

.PostItem .post .user .imageName svg{
    margin: 3px 3px 4px 0px;
    color: var(--Primary);
}
.PostItem .post .user .imageName .username {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.PostItem .post .user .imageName .username h5 {
    margin: 0px 5px;
    font-weight: 500;
}

.PostItem .post .user .imageName .username h6 {
    margin: 0px 6px;
    color: var(--Gray);
}
.PostItem .post .user .info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: var(--White);
}

.PostItem .post .user .info svg{
    margin: 3px 5px;
    color: var(--Gray);
}
.PostItem .post .user .info h6 {
    margin: 3px 3px 3px 3px;
    color: var(--Gray);
    font-weight: 600;
}

.PostItem .post .text {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
}
.PostItem .post .text p {
    color: var(--White);
    margin: 10px 0;
    text-align: left;
    font-size: 13px;
}

.PostItem .post .media {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .media img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .media video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .reactions {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--White);
    margin: 10px 0;
}
.PostItem .post .reactions button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--White);
    background: var(--Black);
    border: none;
    font-size: 12px;
}

.PostItem .post .reactions button svg {
    font-size: 20px;
    margin-right: 5px;
}


@media (max-width: 500px) {
    .PostItem {
        width: 100%;
    }
    .PostItem .post {
        width: 95%;
    }
}

