.PostItem {
    width: 99%;
    border-bottom: 1px solid var(--Paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0px 0px 5px 0;
}
.PostItem .post {
    width: 91%;
    padding:10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--Black);
    margin:10px 0;
}


.PostItem .post .text {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
}
.PostItem .post .text p {
    color: var(--White);
    margin: 10px 0;
    text-align: left;
    font-size: 13px;
}

.PostItem .post .media {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .media img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .media video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: cover;
}
.PostItem .post .reactions {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--White);
    margin: 10px 0;
}
.PostItem .post .reactions button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--White);
    background: var(--Black);
    border: none;
    font-size: 12px;
}

.PostItem .post .reactions button svg {
    font-size: 20px;
    margin-right: 5px;
}


@media (max-width: 500px) {
    .PostItem {
        width: 100%;
    }
    .PostItem .post {
        width: 95%;
    }
}

