.RecoverPasswordEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.RecoverPasswordEmail .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail img {
    height: 40px;
    margin: 5px;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail p {
    font-weight: 700;
    text-align: center;
    color: var(--Paragraph);
    margin: 5px;
}
 

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .buttonsSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 5px;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .buttonsSelect .btnSelect1 {
    padding: 5px 20px;
    border-radius: 0px;
    width:100%;
    color: var(--Primary);
    background-color: var(--White);
    border: none;
    border-bottom: 2px solid var(--Primary);
    margin: 0px;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .buttonsSelect .btnSelect2 {
    padding: 5px 20px;
    border-radius: 0px;
    width:100%;
    color: var(--Gray);
    background-color: var(--White);
    border: none;
    border-bottom: 2px solid var(--Gray);
    margin: 0px;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form h3 {
    font-weight: 700;
    text-align: center;
    color: var(--Primary);
    margin: 10px;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .linkRecoverPasswordEmail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width:100%;
    margin: 5px;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .linkRecoverPasswordEmail a {
    text-decoration: none;
    color: var(--Gray);
    font-size: 14px;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form button {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--White);
    background-color: var(--Primary);
    border: 1px solid var(--Primary);
    margin:20px 5px 5px 5px;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .Link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Paragraph);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form  .double input {
    padding: 10px 20px;
    border-radius: 6px;
    width: 48%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 0;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .passwords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
}
.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .passwords .pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .passwords .pass input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}

.RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form .passwords .pass button {
    padding: 10px;
    border-radius: 6px;
    width: 50px;
    color: var(--Primary);
    background-color: var(--White);
    border: 1px solid var(--Primary);
    margin: 5px 0 5px 5px;
}

.RecoverPasswordEmail .sections .imageRecoverPasswordEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-image: url("../../assets/images/homem-pc.jpg"); 
    background-color: #000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

@media(max-width: 825px) {
    .RecoverPasswordEmail .sections .imageRecoverPasswordEmail  {
        display: none;
    }
    .RecoverPasswordEmail .sections .sectionRecoverPasswordEmail  {
        width: 100%;
    }
    @media(max-width: 420px) {
        .RecoverPasswordEmail .sections .sectionRecoverPasswordEmail .form {
            width: 100%;
            padding: 20px;
        }
    }
}

