.SignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    min-height: 100vh;
    background-image: url("../../assets/images/player2.jpg"); 
    background-color: #000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.SignUp .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.SignUp .sections .sectionSignUp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

.SignUp .sections .sectionSignUp img {
    height:60px;
    margin: 20px 5px;
}

.SignUp .sections .sectionSignUp p {
    font-weight: 700;
    text-align: center;
    color: var(--White);
    margin: 20px 0;
}
 

.SignUp .sections .sectionSignUp .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    padding: 30px;
}
.SignUp .sections .sectionSignUp .buttonsSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 5px 5px 10px 5px;
}
.SignUp .sections .sectionSignUp .buttonsSelect .btnSelect1 {
    padding: 5px 20px;
    border-radius: 0px;
    width:100%;
    color: var(--Description);
    background-color: var(--White);
    border: none;
    border-bottom: 2px solid var(--White);
    margin: 0px;
    border-radius: 6px 6px 0px 0px;
}
.SignUp .sections .sectionSignUp .buttonsSelect .btnSelect2 {
    padding: 5px 20px;
    border-radius: 0px;
    width:100%;
    color: var(--White);
    background-color: var(--Black);
    border: none;
    border-bottom: 2px solid var(--White);
    margin: 0px;
}

.SignUp .sections .sectionSignUp .form h3 {
    font-weight: 700;
    text-align: center;
    color: var(--Primary);
    margin: 10px;
}
.SignUp .sections .sectionSignUp .form .linkSignUp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width:100%;
    margin: 5px;
}

.SignUp .sections .sectionSignUp .form .linkSignUp a {
    text-decoration: none;
    color: var(--Gray);
    font-size: 14px;
}

.SignUp .sections .sectionSignUp .form .textSpan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width:100%;
}
.SignUp .sections .sectionSignUp .form .textSpan span {
    margin-top: 5px;
    color: var(--Primary);
    font-size: 14px;
}
.SignUp .sections .sectionSignUp .form input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px;
}
.SignUp .sections .sectionSignUp .form select {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px;
}
.SignUp .sections .sectionSignUp .form button {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--White);
    background-color: var(--Primary);
    border: 2px solid var(--Primary);
    margin: 5px;
}
.SignUp .sections .sectionSignUp .form .Link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--White);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignUp .sections .sectionSignUp .form .double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.SignUp .sections .sectionSignUp .form  .double input {
    padding: 10px 20px;
    border-radius: 6px;
    width: 49%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px 0;
}
.SignUp .sections .sectionSignUp .form  .double select {
    padding: 10px 20px;
    border-radius: 6px;
    width: 49%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px 0;
}
.SignUp .sections .sectionSignUp .form .triple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.SignUp .sections .sectionSignUp .form  .triple input {
    padding: 10px 20px;
    border-radius: 6px;
    width:32%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px 0;
}
.SignUp .sections .sectionSignUp .form  .triple select {
    padding: 10px 20px;
    border-radius: 6px;
    width:32%;
    color: var(--Description);
    border: 1px solid var(--Primary);
    margin: 5px 0;
}

.SignUp .sections .sectionSignUp .form .passwords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
}
.SignUp .sections .sectionSignUp .form .passwords .pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.SignUp .sections .sectionSignUp .form .passwords .pass input {
    padding: 10px 20px;
    border-radius: 6px;
    width:100%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}

.SignUp .sections .sectionSignUp .form .passwords .pass button {
    padding: 10px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    color: var(--Description);
    background-color: var(--White);
    border: 1px solid var(--Primary);
    margin: 5px 0 5px 5px;
}

.SignUp .sections .sectionSignUp .form .passwords .pass button svg {
    margin-left: 10px;
}

.SignUp .sections .imageSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

@media(max-width: 925px) {
    .SignUp .sections .imageSignUp  {
        display: none;
    }
    .SignUp .sections .sectionSignUp  {
        width: 95%;
    }
    @media(max-width: 520px) {
        .SignUp .sections .sectionSignUp .form {
            width: 100%;
            padding: 20px;
        }
    }
}

