.MyDataEdit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 1100px;
    margin: 20px auto;
}

.MyDataEdit h3 {
    font-weight: 700;
    color: var(--Primary);
}
.MyDataEdit .MyDataEditList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    flex-wrap: wrap;
}
.MyDataEdit .MyDataEditList input {
    padding: 10px 20px;
    border-radius: 6px;
    width:70%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}
.MyDataEdit .MyDataEditList select {
    padding: 10px 20px;
    border-radius: 6px;
    width:70%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}
.MyDataEdit .MyDataEditList .userData {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 6px;
}

.MyDataEdit .MyDataEditList .userData h4 span {
    font-weight: 700;
}
.MyDataEdit .MyDataEditList .userData button {
    padding: 10px 20px;
    border-radius: 6px;
    width:70%;
    color: var(--White);
    background-color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px;
}

.MyDataEdit .MyDataEditList .password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 6px;
}
.MyDataEdit .MyDataEditList .password input {
    padding: 10px 20px;
    border-radius: 6px;
    width:70%;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px 5px 5px 0;
}
.MyDataEdit .MyDataEditList .password button {
    padding: 10px 20px;
    border-radius: 6px;
    width:70%;
    color: var(--White);
    background-color: var(--Primary);
    border: 1px solid var(--Primary);
    margin: 5px;
}

@media (max-width: 1120px) {
    .MyDataEdit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 30px 10px;
    }
    @media (max-width: 650px) {
        .MyDataEdit .MyDataEditList {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            margin: 20px;
            flex-wrap: wrap;
        }

        .MyDataEdit .MyDataEditList .password {
            width: 90%;
        }
        .MyDataEdit .MyDataEditList .userData {
            width: 90%;
        }
}
}